#musica{
    position: fixed;
    width: 100%;
    height: 100%;

    .content-section{
        position: relative;
        width: 100%;
        height: 100%;
        padding: 30px 80px 30px 80px;
        /* top: 100px; */
        height: calc(100% - 10rem);
        top: 10rem;
        
        .music-menu{
            position: relative;

            ul{
                position: relative;
                display: flex;
                list-style: none;
                padding: 0;

                .link-music-menu{
                    position: relative;
                    padding: 10px 40px;
                    min-width: 200px;
                    text-align: center;
                    border-radius: 5px;
                    margin-right: 25px;

                    a{
                        position: relative;
                        text-decoration: none;
                        color: #9e9e9e;
                        font-size: 24px;
                        font-weight: 600;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .icon{
                            font-size: 20px;
                            margin-right: 15px;
                        }
                    }

                    &.active{
                        /* background: #424242; */

                        &::after{
                            position: absolute;
                            width: 100%;
                            content: '';
                            inset: 0px;
                            border-bottom: 4px solid whitesmoke;
                        }

                        a{
                            color: whitesmoke;
                        }
                    }

                    &:hover, &:focus{
                        background: whitesmoke;
                        border-radius: 5px;

                        a{
                            color: black;
                            border-radius: 5px;
                        }
                    }
                }
            }
        }

        .content-section-music{
            position: relative;
            width: 100%;
            height: 100%;

            .content-info-list{
                position: relative;
                width: 100%;
                color: whitesmoke;
                margin-top: 60px;

                .content-title{
                    font-size: 72px;
                    font-weight: 700;
                }

                .content-subtitle{
                    margin-top: 15px;
                    font-size: 24px;
                    font-weight: 600;
                }
            }

            .catalogue-music{
                position: relative;
                width: 100%;
                height: 100%;
                top: 38px;
    
                >.slick-list {
                    overflow: inherit;
    
                    >.slick-track {
            
                        >.slick-slide {
                            opacity: 0;
                            width: 100%;
                            transition: opacity 0s ease;
            
                            &.slick-active{
                                opacity: 1;
                            }
            
                            &.slick-active + div{
                                opacity: 1;
                            }
                        }
                    }
                }

                >.slick-arrow{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    z-index: 1;

                    &.slick-prev{
                        height: 10%;
                        width: 100%;
                        left: 0;
                        right: 0;
                        top: 0;

                        &::before{
                            content: '';
                        }

                        .icon{
                            font-size: 35px;
                            color: white;
                        }

                        &.slick-disabled{
                            .icon{
                                display: none;
                            }
                        }
                    }

                    &.slick-next{
                        top: 64%;
                        height: 17%;
                        width: 100%;
                        left: 0;
                        right: 0;
                        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), transparent);

                        &::before{
                            content: '';
                        }

                        .icon{
                            font-size: 35px;
                            color: white;
                        }

                        &.slick-disabled{
                            .icon{
                                display: none;
                            }
                        }
                    }
                }
            }
    
            .tracks-list, .playlists-list{
                position: relative;
                width: 100%;
    
                &.list{
                    margin-top: 56px;
                    margin-bottom: 80px;
                }
    
                .name-list{
                    color: whitesmoke;
                    font-size: 40px;
                    font-weight: 600;
                    margin-top: 0;
                    margin-bottom: 3rem;
                }
    
                .carousel{
                    position: relative;
                    width: 100%;
                    height: auto;

                    .slick-list{
                        overflow: inherit;
                    }
    
                    .slick-track{
                        margin: 0;
                    }
     
                    .slick-arrow{
                        display: flex !important;
                        align-items: center;
                        justify-content: center;
                        z-index: 1;

                        &.slick-prev{
                            left: -80px;
                            width: 80px;
                            height: 100%;
                            background: linear-gradient(90deg, rgba(0, 0, 0, 0.75), transparent);
                        }

                        &.slick-next{
                            right: -80px;
                            width: 100px;
                            height: 100%;
                            background: linear-gradient(270deg, rgba(0, 0, 0, 0.75), transparent);
                        }
    
                        &::before{
                            content: '';
                        }

                        .icon{
                            font-size: 35px;
                            color: white;
                        }

                        &.slick-disabled{
                            .icon{
                                display: none;
                            }
                        }
                    }
    
                    .slide{
                        position: relative;
                        width: 100%;
                        height: 270px;
                        padding-right: 20px;
    
                        .cover-slide{
                            position: relative;
                            width: 100%;
                            height: 270px;
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;

                            &.button-add-playlist{
                                position: relative;
                                background: #212121;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                .container-button{
                                    position: relative;
                                    width: 64px;
                                    height: 64px;
                                    background: #424242;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    border-radius: 50%;

                                    .icon{
                                        position: relative;
                                        font-size: 32px;
                                        color: white;
                                    }
                                }
                            }
    
                            img{
                                position: relative;
                                width: 100%;
                                height: 100%;
                                border-radius: 3px;
                                object-fit: cover;
                            }
    
                            &::after{
                                content: '';
                                position: absolute;
                                inset: 0px;
                                border: 5px solid transparent;
                                border-radius: 3px;
                            }
                            
                            &:hover, &:focus{
                                &::after{
                                    border: 5px solid whitesmoke;
                                }
                            }
                        }
    
                        .info-slide{
                            position: relative;
                            width: 100%;
    
                            .title{
                                color: whitesmoke;
                                font-size: 18px;
                            }
    
                            .album{
                                color: #bdbdbd;
                                font-size: 16px;
                                margin-top: 0;
                            }
    
                            .description{
                                color: #bdbdbd;
                                font-size: 16px;
                                margin-top: 0;
                            }
                        }
                    }
                }
            }
        }

        .content-section-album{
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;

            .left-content{
                position: relative;
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .info-album{
                    position: relative;
                    width: 75%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .cover{
                        position: relative;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 60px;
                        border-radius: 5px;
    
                        img{
                            position: relative;
                            width: 55%;
                            height: auto;
                            border-radius: 5px;
                            width: 363px;
                            height: 363px;
                            background: #212121;
                            object-fit: cover;
                        }
                    }

                    .type{
                        color: #757575;
                        font-size: 24px;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        margin-bottom: 15px;

                        .album-title{
                            color: whitesmoke;
                            font-size: 24px;
                            font-weight: 600;
                            margin-left: 15px;
                        }
                    }

                    .info-track{
                        min-height: 90px;
                    }

                    .song-title{
                        color: whitesmoke;
                        font-size: 40px;
                        font-weight: 600;
                        margin-bottom: 10px;
                    }

                    .song-artists{
                        position: relative;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 10px;
                        line-height: 20px;

                        .artist-name{
                            color: #757575;
                            font-size: 24px;
                            font-weight: 500
                        }
                    }

                    .music-player{
                        .progress-container{
                            position: relative;
                            width: 100%;
                            height: 10px;
                            margin-top: 50px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
    
                            .start-time, .end-time{
                                position: relative;
                                font-size: 18px;
                                font-weight: 500;
                                color: #757575;
                                min-width: 60px;
                            }

                            .end-time{
                                text-align: right;
                            }
    
                            .progress-bar{
                                position: relative;
                                width: 100%;
                                height: 100%;
                                background: #424242;
                                border-radius: 3px;
    
                                .current-progress{
                                    position: absolute;
                                    /* width: 50%; */
                                    height: 100%;
                                    background: whitesmoke;
                                    border-radius: 3px;
                                }
                            }
                        }

                        .controls{
                            position: relative;
                            width: 100%;
                            display: flex;
                            justify-content: space-around;
                            margin-top: 50px;
    
                            .button{
                                position: relative;
                                width: 100px;
                                height: 100px;
                                border-radius: 50%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                cursor: pointer;
    
                                .icon{
                                    position: relative;
                                    color: #757575;
                                    font-size: 40px;
    
                                    &.fa-backward{
                                        right: 3px;
                                    }
    
                                    &.fa-forward, &.fa-play{
                                        left: 3px;
                                    }
                                }
    
                                &:hover, &:focus{
                                    background: whitesmoke;
    
                                    .icon{
                                        color: black;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .right-content{
                position: relative;
                width: 50%;
                height: 100%;
                padding-top: 65px;

                &.list-add-playlist{
                    position: absolute;
                    right: 0;
                    height: 920px;
                }

                .loader{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .spinner{
                        bottom: inherit;
                        left: inherit;
                    }
                }

                .header-text{
                    font-size: 32px;
                    font-weight: 600;
                    color: whitesmoke;
                    margin-bottom: 70px;
                }

                .buttons{
                    position: relative;
                    display: flex;

                    .button{
                        font-size: 24px;
                        font-weight: 500;
                        color: #757575;
                        padding: 16px 48px;
                        border-radius: 50px;
                        margin-right: 16px;

                        &:hover, &:focus{
                            background: whitesmoke;
                            color: black;
                        }
                    }
                }

                .buttons-playlist{
                    position: relative;
                    display: flex;
                    margin-bottom: 70px;

                    .btn{
                        width: auto;
                        position: relative;
                        color: whitesmoke;
                        font-size: 24px;
                        display: flex;
                        align-items: center;
                        padding: 16px 48px;
                        font-weight: 500;
                        /* background: rgba(33,33,33, 0.5); */
                        color: #757575;
                        border-radius: 40px;

                        .icon{
                            font-size: 16px;
                            margin-right: 16px;
                        }

                        &.active{
                            color: #00aeef;
                        }
    
                        &:hover, &:focus{
                            background: whitesmoke;
                            color: black;
                            font-weight: 500;

                            &.active{
                                color: black;
                            }
                        }

                        &.button-play-list{
                            margin-right: 15px;
                        }

                    }

                }

                .list-tracks-album, .list-playlists-add{
                    position: relative;
                    display: flex;
                    flex-direction: column;

                    .no-songs-message{
                        flex-direction: column;
                    
                        .title{
                            font-size: 4rem;
                            font-weight: 600;
                            color: whitesmoke;
                        }

                        .subtitle{
                            font-size: 32px;
                            font-weight: 500;
                            color: #757575;
                            margin-top: 16px;
                        }
                        
                    }

                    .slick-arrow{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        z-index: 1;

                        &.slick-prev{
                            left: 50%;
                            top: -5%;
    
                            &::before{
                                content: '';
                            }
    
                            .icon{
                                font-size: 35px;
                                color: white;
                            }
    
                            &.slick-disabled{
                                .icon{
                                    display: none;
                                }
                            }
                        }
    
                        &.slick-next{
                            left: 50%;
                            top: 105%;
    
                            &::before{
                                content: '';
                            }
    
                            .icon{
                                font-size: 35px;
                                color: white;
                            }
    
                            &.slick-disabled{
                                .icon{
                                    display: none;
                                }
                            }
                        }
                    }

                    .slick-slide{
                        display: flex;

                        .info-track{
                            position: relative;
                            display: flex;
                            justify-content: space-between;
                            padding: 30px 30px;
                            height: 90px;
                            margin: 5px 0;
                            width: 90%;
    
                            .track-index{
                                color: whitesmoke;
                                font-size: 24px;
                                text-align: center;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                min-width: 50px;
    
                                .button{
                                    position: relative;
                                    width: 48px;
                                    height: 48px;
                                    border-radius: 50%;
                                    border: 3px solid whitesmoke;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
        
                                    .icon{
                                        font-size: 24px;
                                        color: whitesmoke;
    
                                        &.fa-play{
                                            position: relative;
                                            left: 2px;
                                        }
                                    }
                                }
                            }
    
                            .track-title{
                                color: whitesmoke;
                                font-size: 24px;
                                text-align: left;
                                min-width: 560px;
                                display: flex;
                                align-items: center;
                            }
    
                            .track-time{
                                color: whitesmoke;
                                font-size: 24px;
                                display: flex;
                                align-items: center;
                            }
    
                            &::after{
                                content: '';
                                position: absolute;
                                inset: 0px;
                                border: 5px solid transparent;
                                border-radius: 5px;
                            }
    
                            &.active{
                                &::after{
                                    border: 5px solid #212121;
                                }
                            }
    
                            &:hover, &:focus{
    
                                &::after{
                                    border: 5px solid whitesmoke;
                                }
                            }
                        }

                        .btn-group{
                            position: relative;
                            display: flex !important;
                            justify-content: center;
                            align-items: center;

                            .dropdown-menu{
                                position: absolute;
                                transform: translate3d(-792px, 0px, 0px) !important;
                                top: 0px;
                                left: 0px;
                                will-change: transform;
                                width: 792px;
                                padding: 25px;
                                background: #212121;

                                .text{
                                    font-size: 32px;
                                    color: white;
                                    font-weight: 600;
                                    margin-bottom: 16px;
                                    padding: 0 24px;
                                }

                                .dropdown-divider{
                                    width: 100%;
                                    height: 3px;
                                    background: #424242;
                                    margin-bottom: 8px;
                                }

                                .dropdown-item{
                                    font-size: 2.4rem;
                                    width: 100%;
                                    background: 0 0;
                                    border: none;
                                    color: #f5f5f5;
                                    text-align: left;
                                    margin: 8px 0;
                                    padding: 16px 24px;
                                    border-radius: 4px;
                                    font-weight: 500;

                                    &:hover, &:focus{
                                        background: whitesmoke;
                                        color: black;
                                    }
                                }
                            }
                        }

                        .button-playlists{
                            font-size: 24px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 10%;
                            background: transparent;
                            border: none;

                            .icon{
                                color: whitesmoke;
                                background: transparent;
                                border-radius: 50%;
                                padding: 16px;
                            }

                            &:hover, &:focus{
                                .icon{
                                    color: black;
                                    background: whitesmoke;
                                }
                            }
                        }
                    }
                }
            }
        }

        .form-add-playlist{
            position: relative;
            display: flex;
            flex-direction: column;

            .header{
                position: relative;

                .title{
                    color: whitesmoke;
                    font-size: 72px;
                    font-weight: 600;
                }
            }

            .form-content{
                position: relative;
                display: flex;
                margin-top: 100px;

                .left-content{
                    position: relative;
                    width: 40%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
    
                    .info-album{
                        position: relative;
                        width: 75%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
    
                        .cover{
                            position: relative;
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            margin-bottom: 60px;
                            border-radius: 5px;
        
                            img{
                                position: relative;
                                border-radius: 5px;
                                width: 363px;
                                height: 363px;
                                background: #212121;
                                object-fit: cover;
                            }

                            .info-cover{
                                position: absolute;
                                top: 0;
                                width: 100%;
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;

                                .icon{
                                    font-size: 60px;
                                    color: whitesmoke;
                                }

                                .text{
                                    position: relative;
                                    font-size: 32px;
                                    color: whitesmoke;
                                    top: 88px;
                                }
                            }
                        }
                    }
                }
    
                .right-content{
                    position: relative;
                    width: 60%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
    
                    .input{
                        font-size: 32px;
                        background: none;
                        border: 4px solid #212121;
                        border-radius: 4px;
                        padding: 24px 40px;
                        font-weight: 500;
                        border: 4px solid transparent;
                        color: whitesmoke;

                        &::placeholder {
                            color: #616161;
                        }
        
                        &.title-playlist{ 
                        }
        
                        &.description-playlist{
                            margin-top: 24px;
                        }
        
                        &:hover, &:focus{
                            border: 4px solid whitesmoke;
                        }
                    }

                    .group-public{
                        position: relative;
                        display: flex;
                        align-items: center;
                        padding: 2.4rem 4rem;
                        margin-top: 24px;
                        border: 4px solid transparent;

                        input{
                            width: 36px;
                            height: 24px;
                            border: none;
                        }

                        .text{
                            font-size: 3.2rem;
                            font-weight: 500;
                            color: #616161;
                            margin-left: 24px;
                        }

                        &:hover, &:focus{
                            border: 4px solid whitesmoke;
                        }
                    }

                    .buttons{
                        position: relative;
                        display: flex;
                        margin-top: 56px;

                        .button{
                            position: relative;
                            font-size: 3.2rem;
                            color: whitesmoke;
                            padding: 24px;
                            width: auto;
                            border-radius: 60px;
                            min-width: 320px;
                            text-align: center;
                            font-weight: 500;

                            &.create-button{
                                background: #212121;
                            }

                            &.cancel-button{
                                margin-left: 24px;
                                color: #616161;
                            }

                            &:hover, &:focus{
                                background: whitesmoke;
                                color: black;
                            }
                        }
                    }
                }
    
            }
        }

        &.loader{
            position: absolute;
            background: black;
            z-index: 1;
            height: calc(100% - 20rem);
            top: 20rem;

            .loader{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;

                .spinner{
                    bottom: inherit;
                    left: inherit;
                }
            }
        }
    }

    .toast-container{
        position: absolute;
        top: 24px;
        right: 24px;

        .toast-wrapper{
            position: relative;
            background: #212121;
            padding: 32px 48px;
            border-radius: 8px;
            display: flex;
            align-items: center;
            border: 4px solid #424242;

            .toast-head{
                color: white;
                font-size: 32px;
                display: flex;
                justify-content: flex-end; 
                margin-right: 24px;

                .icon{
                    font-size: 32px;
                }
            }

            .toast-message{
                color: white;
                font-size: 24px;
                font-weight: 600;
                max-width: 480px;
            }
        }
    }
}