#configurations-menu{
    position: absolute;
    z-index: 900;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    /* border: 1px solid red; */
    padding: 80px;
}

#configurations-menu .container-section{
    position: relative;
    height: 100%;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: row;
}

#configurations-menu .container-section .left-section{
    position: relative;
    border-right: 2px solid rgba(255, 255, 255, 0.2);
    width: 32%;
    padding-right: 80px;
}

#configurations-menu .container-section .right-section{
    position: relative;
    /* border: 1px solid yellow; */
    width: 68%;
    padding-left: 80px;
}

#configurations-menu .container-section .left-section ul{
    padding: 0;
    list-style: none;
    margin-bottom: 80px;
}

#configurations-menu .container-section .left-section ul li{
    color: #9e9e9e;
    font-size: 25px;
    font-weight: 500;
    border: 4px solid transparent;
    border-radius: 4px;
    padding: 16px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 8px 0;
}

#configurations-menu .container-section .left-section ul li i{
    font-size: 20px;
    margin-right: 16px;
    color: #9e9e9e;
    margin-top: 2px;
}

#configurations-menu .container-section .left-section ul li h4{
    margin: 0;
    font-weight: 500;
    font-size: 25px;
    color: #9e9e9e;
}

#configurations-menu .container-section .left-section ul li:hover i{
    color: white;
    cursor: pointer;
}

#configurations-menu .container-section .left-section ul li:hover h4{
    color: white;
}

#configurations-menu .container-section .left-section ul li:focus i{
    color: white;
}

#configurations-menu .container-section .left-section ul li:focus h4{
    color: white;
}


#configurations-menu .container-section .left-section ul li.active{
    color: white;
    font-weight: 700;
}

#configurations-menu .container-section .left-section ul.list-options li:hover{
    color: white;
    border: 4px solid white;
    cursor: pointer;
}

#configurations-menu .container-section .left-section ul.list-options li:focus{
    color: white;
    border: 4px solid white;
}

#configurations-menu .container-section .right-section .title-info{
    margin-top: 0;
    font-size: 40px;
    font-weight: 700;
    color: white;
}

#configurations-menu .container-section .right-section .subtitle-info{
    margin-top: 40px;
    font-size: 25px;
    font-weight: 500;
    color: #9e9e9e;
}

#configurations-menu .container-section .right-section .lists{
    display: flex;
    flex-direction: row;
    margin-top: 80px;
}

#configurations-menu .container-section .right-section .lists .list{
   width: 50%;
}

#configurations-menu .container-section .right-section .lists .list h4{
    font-size: 25px;
    font-weight: 500;
    color: #9e9e9e;
}
 
#configurations-menu .container-section .right-section .lists .list ul{
    padding: 0;
    list-style: none;
    margin-top: 40px;
}

#configurations-menu .container-section .right-section .lists .list ul li{
    border: 4px solid transparent;
    border-radius: 4px;
    padding: 8px 24px;
    width: 88%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#configurations-menu .container-section .right-section .lists .list ul li:hover{
    border: 4px solid white;
    cursor: pointer;
}

#configurations-menu .container-section .right-section .lists .list ul li:focus{
    border: 4px solid white;
}

#configurations-menu .container-section .right-section .lists .list ul li .text{
    font-size: 25px;
    font-weight: 500;
    color: #9e9e9e;
}

#configurations-menu .container-section .right-section .lists .list ul li.active .text{
    font-weight: 700;
    color: white;
}

#configurations-menu .container-section .right-section .lists .list ul li:hover .text{
    font-weight: 500;
    color: white;
}

#configurations-menu .container-section .right-section .lists .list ul li:focus .text{
    font-weight: 500;
    color: white;
}

#configurations-menu .container-section .right-section .lists .list ul li.active:hover .text{
    font-weight: 700;
    color: white;
}

#configurations-menu .container-section .right-section .lists .list ul li.active:focus .text{
    font-weight: 700;
    color: white;
}

#configurations-menu .container-section .right-section .lists .list ul li i{
    font-size: 25px;
    opacity: 0;
}

#configurations-menu .container-section .right-section .lists .list ul li.active i{
    color: white;
    opacity: 1;
}

#configurations-menu .container-section .right-section .lists .list ul li:hover i{
    color: white;
}

#configurations-menu .container-section .right-section .lists .list ul li:focus i{
    color: white;
}

#configurations-menu .container-section .right-section .btn-span{
    position: absolute;
    margin-top: 40px;
    font-size: 25px;
    color: #9e9e9e;
    border: 4px solid #9e9e9e;
    border-radius: 4px;
    padding: 16px 0;
    font-weight: 500;
    min-width: 320px;
    text-align: center;
}

#configurations-menu .container-section .right-section .btn-span:hover{
    color: white;
    border: 4px solid white;
    cursor: pointer;
}

#configurations-menu .container-section .right-section .btn-span:focus{
    color: white;
    border: 4px solid white;
}