#menu-principal{
	position: absolute;
	z-index: 20;
	width: 100%;
	height: 100%;

	.container-section{
		position: relative;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	#spotlight{
		position: relative;
		width: 100%;
		height: 56%;

		.carousel-spotlight{
			position: relative;
			width: 100%;
			height: 100%;

			.carousel-content{
				position: absolute;
				width: 100%;
				height: 100%;

				.carousel-item{
					position: absolute;
					width: 100%;
					height: auto;
					transition: opacity 1500ms linear 0s;

					&.no-active{
						 opacity: 0;
					}

					&.active{
						 opacity: 1;
					}

					 img{
						 position: relative;
						 width: 100%;
						 height: auto;
					 }
				}
			}

			.carousel-indicators{
				position: absolute;
				bottom: 2%;
				left: 50%;

				ol{
					display: flex;
					flex-direction: row;
					justify-content: center;
					list-style: none;
					padding: 0;

					li{
						width: 8px;
						height: 8px;
						border-radius: 100%;
						background-color: rgba(255, 255, 255, 0.5);
						margin: 0 8px;
						border: none;
						transform: scale(1);

						&.active{
							 background-color: rgba(255, 255, 255, 1);
						}
					}
				}
			}

			.carousel-control-prev{
				position:absolute;
				height: 100%;
				width: 16%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				 i{
					 color: rgba(255, 255, 255, 0.5);
					 font-size: 48px;
				 }

				&:hover{
					 background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0));
					 cursor: pointer;

					i{
						color: white;
						text-shadow: 0 0 16px white;
						cursor: pointer;
					}
				}
			}

			.carousel-control-next{
				position:absolute;
				height: 100%;
				width: 16%;
				right: 0;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				i{
					color: rgba(255, 255, 255, 0.5);
					font-size: 5vh;
				}

				&:hover{
					 background: linear-gradient(to left, rgba(0,0,0,0.5), rgba(0,0,0,0));
					 cursor: pointer;

					i{
						color: white;
						text-shadow: 0 0 16px white;
						cursor: pointer;
					}
				}
			}

			&:focus{
				position: absolute;
				width:100%;
				height: 100%;
				outline: none !important;

				.carousel-indicators ol li.active{
					transform: scale(2);
					outline: none !important;
				}
			}
		}
	}

	#sections{
		position: relative;
		width: 100%;
		height: auto;
		flex: 1 1 auto;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		align-content: center;

		.sections-content{
			position: relative;
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			align-content: center;
			padding: 0 56px;

			.section-item{
				position: relative;
				display: flex;
				flex: 0 1 calc(100% / 5);
				height: auto;
				transition: transform 0.2s ease-in-out 0s;
				border: 5px solid transparent;
				margin: 0 12px;

				&:focus, &:hover{
					outline: none !important;

					img{
						transform: scale(1.075);
						border: 4px solid white;
						cursor: pointer;
					}
				}

				img{
					position: relative;
					width: 100%;
					height: auto;
					border: 4px solid transparent;
					border-radius: 32px;
					transition: transform 0.2s ease-in-out 0s;
				}

				.title-section{
					position: absolute;
					top: 24%;
					left: 16%;
					color: white;
					text-shadow: 4px 4px 8px rgba(0, 0, 0,  0.5);
					font-weight: 600;
					font-size: 28px;

					&:hover{
						cursor: pointer;
					}
				}
			}
		}
	}
}