#series{
    position: absolute;
    z-index: 11;
    width: 100%;
    height: 100%;
}

#series .background-section{
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

#series .background-section img{
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

#series .catalogue-series{
    position: absolute;
    width: 100%;
    height: 100%;
}

#series .title-wrapper{
    position: absolute;
    width: 30%;
    left: 4%;
    top: 10%;
}

#series .genre-serie{
    color: white;
    font-size: 1.8vh;
    font-weight: 500;
}

#series .title-serie{
    position: relative;
    font-size: 3.5vh;
    color: white;
    margin-top: 1%;
    font-weight: 900;
}

#series .background-serie{
    position: absolute;
    width: 30%;
    height: 20%;
    top: 20%;
    left: 4%;
}

#series .background-serie .description-serie{
    font-size: 2.2vh;
    color: #bdbdbd;
    font-weight: 400;
    line-height: 2.6vh;
}

#series .background-serie img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#series .seasons{
    position: absolute;
    z-index: 3;
    width: 30%;
    height: 100%;
    top: 40%;
    left: 4%;
    padding-right: 2vh;
}

#series .seasons ul{
    position: absolute;
    list-style: none;
    padding: 0;
    width: 100%;
    height: 60%;
    overflow: hidden;
}

#series .seasons li{
    color: #bdbdbd;
    font-size: 2.5vh;
    font-weight: 400;
    padding: 1vh 3vh;
    border-radius: .5vh;
    border: .5vh solid transparent;
}

#series .seasons li i{
    margin-right: 2vh;
    opacity: 0;
}

#series .seasons li.active{
    font-weight: 500;
    color: white;
}

#series .seasons li.active i{
    opacity: 1;
}

#series .seasons li:hover{
    color: white;
    border: .5vh solid white;
    cursor: pointer;
}

#series .seasons li:focus{
    color: white;
    border: .5vh solid white;
}

#series .chapters{
    position: fixed;
    z-index: 3;
    left: 38%;
    width: 62%;
    height: 100%;
    margin-bottom: 5vh;
    overflow: hidden;
}

#series .chapters ul{
    position: absolute;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    top: 7vh;
}

#series .chapters ul li{
    flex: 0 0 calc(100% / 3.7);
    position: relative;
    display: flex;
    flex-direction: row;
}

#series .chapters ul li div{
    display: flex;
    flex-direction: column;
}

#series .chapters ul li .background-chapter{
    position: absolute;
    width: 40%;
    height: auto;
    padding: 1vh;
}

#series .chapters ul li .image-chapter{
    position: relative;
    width: 100%;
    height: 100%;
    background-size: contain;
    outline: .5vh solid transparent;
}

#series .chapters ul li .background-progress{
    position: absolute;
    height: 50%;
    width: 96%;
    bottom: 3.5%;
    background: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0));
}

#series .chapters ul li .progress-continued{
    position: absolute;
    width: 90%;
    left: 5%;
    height: 2%;
    bottom: 8%;
}

#series .chapters ul li .progress-total{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0 1vh 1.5vh -.5vh #000000;
}

#series .chapters ul li .progress-actual{
    position: absolute;
    height: 100%;
    background: #00aeef;
}

#series .chapters ul li:hover{
    cursor: pointer;
}

#series .chapters ul li:focus{
    outline: none !important;
}

#series .chapters ul li:hover .background-chapter .image-chapter{
    outline: .5vh solid white;
}

#series .chapters ul li:focus .background-chapter .image-chapter{
    outline: .5vh solid white;
}

#series .chapters ul li .info-chapter{
    position: absolute;
    left: 40%;
    width: 60%;
    height: 100%;
    padding: 1vh 6vh 0 2vh;
}

#series .chapters ul li .info-chapter .title-chapter{
    position: relative;
    color: white;
    font-size: 2.5vh;
    font-weight: 600;
}

#series .chapters ul li .info-chapter .description-chapter{
    position: relative;
    color: #bdbdbd;
    font-size: 2.2vh;
    font-weight: 400;
    margin-top: 1vh;
    line-height: 2.6vh;
}